.settingsInput {
  width: 50%;
  font-size: 1rem;
  background-color: #111111;
  padding: 15px 10px;
  border: 0;
  color: #ebebeb;
  border-radius: 5px;
  transition: 0.2s;
  box-sizing: border-box;
  outline: 2px solid #00000000;
}

.settingsInput:focus-visible {
  outline: 2px solid #acacac;
}
