.ytsContainer {
  width: 100%;
  margin-top: 2rem;
  background-color: #232323;
  border-radius: 15px;
  padding: 1% 2%;
  outline: 2px solid #3c691fb0;
  box-sizing: border-box;
}

.movieList {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  padding-bottom: 10px;
}

.empty {
  color: #a8a8a8;
  font-style: italic;
}

.movieList::-webkit-scrollbar {
  height: 10px;
}

.movieList::-webkit-scrollbar-track {
  background: #303030;
  border-radius: 10px;
}

.movieList::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}

.movieList::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
  cursor: pointer;
}

.movieCard {
  width: 200px;
  min-width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #acacac;
  transition: 0.2s;
}

.movieCard:hover {
  border: 2px solid #45af1d;
}

.cardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  border-radius: 15px;
}

.cardWrapper:hover {
  background-color: #0000007a;
}

.qualitiesWrap {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

.cardWrapper:hover .qualitiesWrap {
  display: block;
  opacity: 1;
}

.title {
  background-color: #000000c9;
  padding: 4% 2%;
  width: 96%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  margin-top: auto;
}

.container p {
  color: #a8a8a8;
  font-style: italic;
}

@media (max-width: 768px) {
  .movieList {
    gap: 15px;
  }

  .movieCard {
    width: 160px;
    min-width: 160px;
    height: 240px;
  }
}
