.pageContainer {
  position: relative;
}

.page {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.page.active {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}
