body {
  margin: 0;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #000000;
  color: #ebebeb;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 2% 20%;
}

html {
  margin: 0;
  padding: 0;
}

#root {
  /* min-height: 100vh; */
}
