.settingContainer {
  width: 100%;
  margin-top: 2rem;
  background-color: #232323;
  border-radius: 15px;
  padding: 1px 2% 1.5% 2%;
  outline: 2px solid #515151;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
