.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #232323;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
}

.navigationCell {
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  width: 100px;
  border-bottom: 2px solid #00000000;
}

.navigationCell:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navigationCell:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navigationCell:hover {
  background-color: #2c6b14;
}

.active {
  background-color: #333333;
  border-bottom: 2px solid #2c6b14;
}
