.deleteButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ebebeb;
  padding: 4px;
  transition: 0.2s;
}

.deleteButton:hover {
  color: rgb(255, 0, 0);
}

.deleteIcon {
  font-size: 18px;
}

.control {
  margin-top: 0.5rem;
  background-color: #111111 !important;
  border-color: #3e3e42 !important;
  cursor: pointer !important;
  box-shadow: none !important;
  padding: 5px 0px !important;
  width: 50% !important;
}

.control:hover {
  border-color: #acacac !important;
}

/* Active/focused state */
.control:focus,
.control:focus-within {
  border-color: #acacac !important;
  box-shadow: none !important;
}

.menu {
  background-color: #111111 !important;
  border: 1px solid #acacac !important;
  width: 50% !important;
}

.option {
  background-color: #111111 !important;
  color: #ebebeb !important;
  cursor: pointer !important;
}

/* Hovered option */
.option:hover {
  background-color: #2d2d30 !important;
}

/* Selected/active option */
.option[aria-selected="true"] {
  background-color: #006e00 !important;
}

.singleValue {
  color: #ebebeb !important;
}

.input {
  color: #ebebeb !important;
}

.placeholder {
  color: #6e6e6e !important;
}
