.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button {
  border: 3px solid #acacac;
  padding: 9px;
  cursor: pointer;
  text-shadow: 0px 0px 3px black;
  background: #232323;
  transition: 0.3s;
  width: 55px;
  text-align: center;
}

.active {
  background-color: #006e00;
}

.left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: 0px;
}

.right {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 0px;
}
