.indexForm {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 20px;
}

@media (max-width: 768px) {
  .indexForm {
    width: 100%;
    gap: 10px;
  }
}

.indexSearchBar {
  width: 100%;
  font-size: 20px;
  background-color: #232323;
  color: #ebebeb;
  padding: 12px 12px 12px 20px;
  border: 0;
  outline: 3px solid #acacac;
  border-radius: 50px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .indexSearchBar {
    font-size: 1rem;
  }
}

.indexSearchBar:focus-visible {
  outline: 3px solid #58c130;
}

.iconStyle {
  font-size: 45px;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.2s;
}

.iconStyle:hover {
  color: #58c130;
}
