.modalSwitchContainer {
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.modalSwitch {
  width: 50%;
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
  background-color: #232323;
  cursor: pointer;
  transition: 0.2s;
  border-top-right-radius: 10px;
}

.modalSwitch:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
}

.modalSwitch:hover {
  background-color: #333333;
}

.active,
.active:hover {
  background-color: #006e00;
}
