.headerContainer {
  justify-items: center;
  border-bottom: 1px solid #444;
}

.searchBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .searchBar {
    gap: 10px;
  }
}

.toggleWrapper {
  display: flex;
  justify-content: center;
  background-color: #232323;
  border-radius: 15px;
  max-width: fit-content;
  margin-bottom: 1rem;
}
