.containerToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.label {
  text-align: center;
  margin-bottom: 4px;
  font-size: 14px;
  margin-top: 0;
}

.button {
  border: 3px solid #acacac;
  padding: 5px;
  cursor: pointer;
  text-shadow: 0px 0px 3px black;
  background: #232323;
  transition: 0.3s;
  width: 55px;
  text-align: center;
  transition: 0.2s;
}

.button:hover:not(.active) {
  background-color: #333333;
}

.active {
  background-color: #006e00;
}

.left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: 0px;
}

.right {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 0px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .containerToggle {
    padding: 5px;
  }

  .label {
    font-size: 0.75rem;
  }

  .button {
    font-size: 0.8rem;
    width: 40px;
  }
}
