.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modalContentContainer {
  background-color: #111111;
  width: 50%;
  border-radius: 10px;
  outline: 3px solid #acacac;
}
