.entryContainer {
  border-bottom: 1px solid #424242;
  border-radius: 5px;
  background-color: #1c1c1c;
  box-sizing: border-box;
}

.entryContainer:first-child {
  border: 3px solid #2c6b14;
  transition: 0.2s;
  margin-bottom: 10px;
}

.entryContainer:nth-of-type(2) {
  border-top: 1px solid #424242;
}

.entryContainer:first-child:focus-within {
  border: 3px solid #00000000;
}

.entryWrapper {
  border-radius: 5px;
  width: 100%;
  transition: 0.2s;
  border: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.entryContainer:nth-of-type(even) {
  background-color: #111111;
}

.entryInput {
  flex: 1;
  font-size: 1rem;
  background-color: #00000000;
  padding: 15px 10px;
  border: 0;
  color: #ebebeb;
  border-radius: 5px;
  transition: 0.2s;
  box-sizing: border-box;
  outline: 2px solid #00000000;
}

.entryInput:hover {
  background-color: #333333;
}

.entryContainer:first-of-type .entryInput:focus-visible {
  outline: 3px solid #2c6b14;
}

.entryInput:focus-visible {
  outline: 2px solid #f5a623;
}

.timeCell {
  color: #a8a8a8;
  font-size: 0.9rem;
  margin: 0 10px;
  white-space: nowrap;
}

.iconStyle {
  font-size: 30px;
  transition: 0.2s;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 10px;
  flex-shrink: 0;
}

.iconStyle:hover {
  color: #58c130;
}

.iconStyle:first-child {
  margin-right: 10px;
  margin-left: 0px;
}

/* Save and discard styling */
.saveOrDiscardWrapper {
  display: flex;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
}

.saveDiscardButton {
  width: 50%;
  padding: 3px 0;
  border-radius: 5px;
  transition: 0.2s;
  border: 3px solid #00000000;
}

.saveDiscardButton:hover {
  background-color: #333333;
  cursor: pointer;
}

.saveDiscardButton:hover .iconStyle {
  color: #f5a623;
}

.visible {
  max-height: 50px;
  margin: 5px 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .entryWrapper {
    padding: 0 5px;
    gap: 1px;
  }

  .entryInput {
    font-size: 0.85rem;
    padding: 10px 5px;
    min-width: 0;
  }

  .timeCell {
    display: none; /* Hide on mobie */
  }

  .iconStyle {
    font-size: 24px;
    margin-left: 5px;
  }

  .iconStyle:first-child {
    margin-right: 5px;
    margin-left: 0;
  }

  .entryContainer:first-child {
    border: 2px solid #2c6b14;
  }
}
